<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo Application</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="js/bootstrap.bundle.js"></script>
    <link rel="stylesheet" href="css/bootstrap-grid.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
         integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script> 
    
      <link rel="stylesheet" href="/static/registration.css">
      <link rel="stylesheet" href="/static/fetchtask.css">
</head>

<body  background="#72afa47a">
    <nav class="navbar navbar-expand-lg navbar-light  nav1">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <img src="{{ url_for('static', filename='1.png') }}" height="60px" width="60px"/>
              </li>
            
            <li class="nav-item active addtask">
              <a class="nav-link" href="/addtask" style="color: aliceblue; font-family:cursive ;font-size: 20px;">ADD TASK <span class="sr-only">(current)</span></a>
            </li>
  

              <li class="nav-item active gettaskhistory">
                <a class="nav-link" href="/gettaskhistory" style="color: aliceblue; font-family:cursive; font-size: 20px;"  >GET  TASK  HISTORY <span class="sr-only">(current)</span></a>
              </li>

              <li class="nav-item active list">
                <a class="nav-link" href="/tasklist" style="color: aliceblue; font-family:cursive; font-size: 20px;"  >List Of All Task <span class="sr-only">(current)</span></a>
              </li>

              <li class="nav-item active logout">
                <button type="button" class="btn btn-outline-info" style="margin-left: 40%; margin-top: 10%;"><a href="/logout">Logout</a></button>
                
              </li>

             

          </ul>
        </div>
      </nav>
      <nav>
        <div>
          <h1 class="registration">Detail of Task ID {{task_info[0]}} </h1>
        </div>
      </nav>
      {% if task_info %}
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">task ID</th>
            <th scope="col">Task Name</th>
            <th scope="col">Start Date</th>
            <th scope="col">Start Time</th>
            <th scope="col">Due Date</th>
            <th scope="col">Action</th>
        
          </tr>
        </thead>
        <tbody>
          <tr>
            
            <td>{{task_info[0]}}</td>
            <td>{{task_info[1]}}</td>
            <td>{{task_info[2]}}</td>
            <td>{{task_info[3]}}</td>
            <td>{{task_info[4]}}</td>
            <td>
                <button><a href="/fetchtoupdate/{{task_info[0]}}">Update</a></button>
                <button><a href="/maketaskhistory/{{task_info[0]}}">Make History of This Task</a></button>
            </td>
          </tr>
        </tbody>
      </table>
      

      <div style="color: rgba(17, 40, 2, 0.549) ; font-size:larger; font-family:algerian">
        {% with Data = get_flashed_messages(category_filter=["Data"]) %}
        {% if Data %}
        <div class="alert-message block-message">
          <a class="close" href="/fetchtask/{{task_info[0]}}"></a>
          <ul>
            {%- for msg in Data %}
            <div class="alert alert-danger">
            <strong> {{ msg }} !!</strong>
        </div>
           
            {% endfor -%}
          </ul>
        </div>
        {% endif %}
        {% endwith %}
        {% endif %}


</body>
</html>
